* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.box.container {
  margin: 20px auto;
  width: 400px;
}

/* HTML  clase 2 metodlogia 18/julio/2024*/
/* auto --> centra el contenedor en base al contenedor padre */

.box {
  margin: 10px auto;
  width: 30%;
  height: 65px;
  border-radius: 5px;
}

/* position:relative --> 
float: left --> hace la que imagen flota hacia la izquierda */
.box img {
  height: 100%;
  position: relative;
  float: left;
}

/* Colors */
.box h3 {
  font-size: 36px;
  position: relative;
  float: right;
  margin-right: 30px;
  color: #fff;
  font-weight: bold;
}
.box-html {
  background-color: #e93e30;
}
.box-css {
  background-color: #299ed5;
}
.box-js {
  background-color: #f7e018;
}

.box-bt {
  background-color: #9200fb88;
}

.box-react {
  background-color: #0199ccb0;
}


